<head>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
</head>
<main>
    <div class="container-fluid">
        <h1 class="text-justify">URL Shortener</h1>

        <form id="post-form">
            {% csrf_token %}
            <input class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" required type="url"
                   name="link" id="link"
                   placeholder="Enter URL here">
            <br>
            <button class="btn btn-primary" type="submit" id="shorten">Shorten</button>

            <button class="btn btn-primary" hidden onclick="copyToClipBoard('#url')">Copy text</button>
        </form>
        <h2 id="url"></h2>
    </div>
</main>
<script type="text/javascript">
    function copyToClipBoard(element) {
        const $temp = $("<input>");
        $("body").append($temp);
        $temp.val($(element).text()).select();
        document.execCommand("copy");
        $temp.remove();
        alert("copied to clipboard");
    }

</script>
<script>
    let url = document.getElementById('url')
    let form = document.getElementById("post-form");
    form.addEventListener('submit', function (event) {
        event.preventDefault();
        let data = new FormData();
        data.append("link", document.getElementById('link').value)
        data.append("csrfmiddlewaretoken", '{{ csrf_token }}')
        axios.post('/create', data).then(function (response) {
            console.log(response.data)
            url.innerHTML = "localhost:8000/" + response.data
        }).catch(function (error) {
            console.log(error)
            url.innerHTML = 'Something went wrong'
        })
    })
</script>